{% extends "base.html" %}

{% block extra_head %}
<script>
  // Reset form on page load
  window.addEventListener('load', () => {
    document.getElementById('type-filter').value = '';
    document.getElementById('search-input').value = '';
  });
</script>
{% endblock %}

{% block content %}

<article>
    <div class="grid">
        <div></div>
        <div>
            <input id="search-input" name="q" type="search" placeholder="Search rules, classes, spells..."
                   hx-get="/search/rules/html"
                   hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
                   hx-target="#search-results"
                   hx-include="#type-filter"
                   hx-indicator="#search-spinner">
        </div>
        <div>
            <select aria-label="Filter" required
                    id="type-filter" name="type"
                    hx-get="/search/rules/html"
                    hx-include="#search-input"
                    hx-target="#search-results"
                    hx-trigger="change">
                <option selected disabled value="">Filter</option>
                <option value="all">All</option>
                <option value="rule">Rules</option>
                <option value="background">Backgrounds</option>
                <option value="class">Classes</option>
                <option value="focus">Foci</option>
                <option value="art">Arts</option>
                <option value="spell">Spells</option>
                <option value="weapon">Weapons</option>
                <option value="armor">Armor</option>
                <option value="combat-action">Combat Actions</option>
                <option value="skill">Skills</option>
            </select>
        </div>
    </div>


    <!-- Loading indicator -->
    <div id="search-spinner" class="htmx-indicator">
        <progress class="circle"></progress>
    </div>

    <!-- Search Results -->
    <div id="search-results" class="large-margin">
    </div>

</article>

{% endblock %}
